body{
  font-family: Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color: #F8F8F8;
  font-size: .8rem;
  /* padding-bottom: 4rem; */
  line-height: 1.7rem;
}

img{
  max-width: 100%;
}

/* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: visible;
}

.tight{
  /* max-width: 100%; */
}

/* Header **/ 
header{
  line-height: 1rem;
  color: gray;
  background-color: #ffffff;
  padding-top: 0.5rem;
  font-size: 0.6rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header img{
  height: 2rem;
}
.header--img-left{
  float: left;
}
.header--img-right{
  float: right;
}
.header--image--text{
  float: left;
  padding-right: 0.5rem;
  width: 3rem;
}
/* hero */
.hero{
  padding-top: 13rem;
  padding-bottom: 2rem;
  text-align: center;
}

.hero--subtitle{
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  max-width: 27rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* author */
.author{
  color: grey;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-top-style: solid;
  border-top-width: thin;
  border-color: grey;
  margin-bottom: 3rem;
  font-size: 0.8rem;
}

.centered {
  text-align: center;
}

.article--title--coloured{
  color: #AC7A12;
}

.article--title{
  font-size: 2rem;
  font-family: 'Kanit', sans-serif;
  margin: auto;
}

.article--break--coloured{
  border-color:  #AC7A12;
}

.article--break{
  width: 3rem;
  border: thin solid;
}

.article--break--left{
  margin-left: 0;
}

.article--resume{
  margin: auto;
  text-align: left;
  padding-bottom: 3rem;
}

p.capitalize-letter::first-letter{
  font-size: 4rem;
  color: #AC7A12;
  vertical-align: text-top;
  float: left;  
  padding: 1.4rem;
  align-content: flex-start;
}

.article--image--left{
  max-width: 20%;
  left: 0;
  top: 37rem;
  float: left;
  position: absolute;
  opacity: 0.4;
}
.article--image--right{
  max-width: 20%;
  right: 0;
  top: 38rem;
  float: left;
  position: absolute;
  opacity: 0.4;
}

.article--main--image{
  max-width: 100%;
}

.middle-article--image--bottom{
  position: relative;
  float: left;
  margin-top: -7rem;
  opacity: 0.1;
  max-width: 20%;
  margin-top: 850;
}

.article--middle{
  margin-top: -3rem;
  padding-top: 5rem;
  overflow: hidden;
  background-color: #F4D2CB;
}

.article--middle--title{
  margin-top: 3rem;
}
.article--middle--image{
  float: right;
  padding-left: 1rem; 
  max-width: 60%;
}

.article--carousel{
  padding-top: 2rem;
}

.article--carousel--title--image{
  position: absolute;
  float: left;
  left: 0;
  max-width: 40%;
  opacity: 0.4;
}

.article--collage{
  overflow: hidden;
}

.collage--image--right{
  /* box-sizing: border-box; */
  padding: 1%;
  /* padding: .1rem; */
  float: right;
  width: 56%;
}

.collage--image--left{
  padding: 0.5% 0 0.5% 0;
  float: left;
  width: 42%;
}

footer{
  background: url('../img/footer.png');
  background-position: center;
  height: 7rem;
  background-size: auto 100%;
  /* background-size: cover; */
  background-repeat: no-repeat;
}

